/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

/* Behavior css */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Header */
.welcome {
    font-size: 36px;
    width: 100%;
    color: #042034;
    line-height: 45px;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.pengelompokkan {
    display: flex;
    justify-content: space-around;
}

.header {
    background-image: url("./background-header.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: grey;
    font-size: 15px;
    width: 70%;
    line-height: 25px;
}

.gambar {
    height: 400px;
    width: 400px;
}

.judul {
    margin-top: 80px;
    margin-left: 50px;
}

.buttonheader {
    border: 1px solid rgb(46, 46, 47);
    color: rgb(76, 85, 103);
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
}

.buttonheader:hover {
    border: 1px solid rgb(46, 46, 47);
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 47);
    transition: 0.5s;
}

.welcome-body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: rgb(0, 136, 255);
}

/* Pembatas */
.pembatas {
    width: 50%;
    border: 2px solid rgb(0, 128, 255);
}

/* content pada body */
.judul-body {
    font-family: 'Roboto', sans-serif;
}

.card-information {
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(216, 218, 220);
    padding: 25px;
    width: 60%;
}

/* Judul pada card */
.judul-body-card {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 157, 255);
}

.penjelasan {
    font-family: 'Archivo', sans-serif;
    color: grey;
    line-height: 22px;
}

/* class pengganti display flex dengan float */
.left {
    float: left;
    width: 30%;
    margin-top: 1cm;
}

/* untuk bagian tentang */
.howto {
    width: 80%;
    margin-left: 50px;
}

/* bagian form */
input[type=text],
textarea,
select,
input[type=file],
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3599f6;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type=text]:focus {
    border: 2px solid lightskyblue;
}

input[type=submit]:hover {
    background-color: #5494d9;
}

.forms {
    margin-top: 50px;
    margin-left: 9%;
    width: 80%;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(254, 254, 254);
    box-shadow: 6px 6px 19px 1px rgba(15, 29, 46, 0.093);
    clear: both;
    font-family: 'Archivo', sans-serif;
}

.clearboth {
    clear: both;
}

/* footer */
label,
footer {
    font-weight: lighter;
    color: grey;
}

footer {
    padding: 25px;
    text-align: center;
    background-color: rgb(227, 236, 242);
    margin-top: 80px;
    font-family: 'Archivo', sans-serif;

}

/* konten terakhir sebelum forms pelaporan */
.last {
    background-color: snow;
    padding: 5px;
}

/* navbar */
.navbar {
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 6px 5px 20px 2px rgba(15, 29, 46, 0.144);
    color: rgb(40, 40, 41);
    font-family: 'Archivo', sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.navbar .navs {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 28px 135px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(35, 35, 36);
}

.navs:hover::after{
    content: " ";
    display: block;
    border-bottom: 3px solid #57606f;
    width: 100%;
}